@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-heebo: 'Heebo', system-ui, sans-serif;
}

html {
  direction: rtl;
  font-family: var(--font-heebo);
}

body {
  background-color: #f9f7f4;
  color: #1a1a1a;
}

* {
  -webkit-tap-highlight-color: transparent;
}
/* הסרת חצים באינפוט מספר */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
@layer components {
  .input {
    @apply w-full border border-stone-200 rounded-xl px-4 py-3 text-sm text-stone-800 placeholder:text-stone-400 focus:outline-none focus:border-stone-400 bg-white;
  }
}
